section {
    width: 100vw;
    min-height: 100vh;
}

@media only screen and (max-width: 800px) {
    section {
        min-width: 100dw;
    }
}

main {
    padding: 0 2%;
}

.barraNavegacao {
    padding: 0 2%;
    background-color: #002B3C;
}

.barraNavegacao-conteudo-img {
    padding: 3%;
}

.menuNavegacao-texto {
    font-size: 4rem;
}

.tituloPagina-texto {
    margin: 0;
    padding: 1% 0;
    font-family: "Barlow", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.tituloSecao-texto {
    margin: 0;
    padding: 1% 1%;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.botaoCriarProcedimento {
    background-color: #002B3C;
    margin-bottom: 2%;
}

.page-footer {
    background-color: #002B3C;
}
