/* customiza a barra lateral */

body::-webkit-scrollbar {
    width: 5px;               
}

body::-webkit-scrollbar-track {
    background: white;        
}

body::-webkit-scrollbar-thumb {
    background-color: gray;    
    border-radius: 20px;       
    border: 3px solid t;  
}

/* estilo tela */

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* estilo conteúdo */

section {
    width: 100vw;
    height: 100vh;
}

/* estilo barra de navegação */

header {
    width: 100%;
}

.barraNavegacao {
    padding: 0 2%;
    background-color: #002B3C;
}

.barraNavegacao-conteudo-img {
    padding: 3%;
}

/* estilo informações principais do conteúdo */

main {
    width: 100%;
    padding: 0 2%;
}

/* estilo títulos da página */

.tituloPagina-texto {
    margin: 0;
    padding: 1% 0;
    font-family: "Barlow", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.tituloSecao-texto {
    margin: 0;
    padding: 1% 1%;
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

/* estilo botão Criar Procedimento */

.botaoCriarProcedimento {
    background-color: #002B3C;
    margin-bottom: 2%;
}

/* estilo rodapé */

.page-footer {
    width: 100%;
    background-color: #002B3C;
}
